h1.title {
    text-align: center;
}
h2.author {
    text-align: center;
}

.break-before {
    page-break-before: always;
}
.break-after {
    page-break-after: always;
}

.context {
    margin-bottom: 2em;
    text-align: right;
    font-style: italic;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    font: 90% sans-serif;
    line-height: 1.5em;
}

p {
    text-align: justify;
}

/* Basic styles */
a {
    text-decoration: none;
    background: none;
}
a:link {
    color: #0030c0;
}
a:visited {
    color: #603090;
}
a:active {
    color: #ffa000;
}
a:hover {
    text-decoration: underline;
}
h1 {
    margin-top: 1em;
    line-height: 1.5em;
}
h1.Part {
    text-align: center;
}
h1.Part- {
    text-align: center;
}
sup {
    font-size: 0.75em;
    line-height: 0.5em;
    vertical-align: text-top;
}
div.Quote {
    margin: 1em 3em;
}
h2 {
    line-height: 1.4em;
}

div.tocindent {
    padding: 0 0 0 2em;
}
div.toc {
    margin: 0.5em 0;
    font-size: 0.95em;
}
div.fulltoc {
    padding: 1em;
}

/* Footnotes */
.SupFootMarker {
    color: #0030c0;
    font-size: 0.75em;
    line-height: 0.5em;
    vertical-align: text-top;
}
.AlignFootMarker {
    color: #0030c0;
}
div.EndFoot {
    margin: 0.2ex;
    background: #ffffff;
    padding: 0.5ex;
    font-size: small;
    font-weight: normal;
    line-height: 1.5em;
    text-align: left;
}


div.Cul-de-lampe {
    margin: 1em 0;
    text-align: center;
}

/*
* CSS section for print.
*/
@media print {
body {
    font: 90% serif;
    background: #ffffff;
    color: black;
    margin: 0;
    padding: 0;
}
a:visited {
    color: #0030c0;
}
/* end of print CSS */
}
